{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
  <div class="card custom">
    <div class="inner">
    <h1>Register</h1>
    <br>
    <hr>
    <br>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <br>
    <br>
    <div class="d-grid gap-2 LoginBtn">
      <button class="btn btn-primary me-md-2" type="button">Register</button>
    </div>
      <p class="RegisterLoginTextBox">You have an account? <a href="/login">Login</a></p>
    </div>
  </div>
{% endblock %}
    
